In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:

#extracting data from csv file using pandas library
df=pd.read_csv("Amazon Sale Report.csv",encoding='latin1')
#display the first 5 rows of dataset
print(df.head())
#display information about the dataset
print(df.info())

   index             Order ID      Date                        Status  \
0      0  405-8078784-5731545  04-30-22                     Cancelled
1      1  171-9198151-1101146  04-30-22  Shipped - Delivered to Buyer
2      2  404-0687676-7273146  04-30-22                       Shipped
3      3  403-9615377-8133951  04-30-22                     Cancelled
4      4  407-1069790-7240320  04-30-22                       Shipped

  Fulfilment Sales Channel ship-service-level  Category Size Courier Status  \
0   Merchant     Amazon.in           Standard   T-shirt    S     On the Way
1   Merchant     Amazon.in           Standard     Shirt  3XL        Shipped
2     Amazon     Amazon.in          Expedited     Shirt   XL        Shipped
3   Merchant     Amazon.in           Standard   Blazzer    L     On the Way
4     Amazon     Amazon.in          Expedited  Trousers  3XL        Shipped

   ...  currency  Amount    ship-city   ship-state ship-postal-code  \
0  ...       INR  647.62       MUMBAI  MAHARASHTRA         400081.0
1  ...       INR  406.00    BENGALURU    KARNATAKA         560085.0
2  ...       INR  329.00  NAVI MUMBAI  MAHARASHTRA         410210.0
3  ...       INR  753.33   PUDUCHERRY   PUDUCHERRY         605008.0
4  ...       INR  574.00      CHENNAI   TAMIL NADU         600073.0

   ship-country    B2B  fulfilled-by New  PendingS
0            IN  False     Easy Ship NaN       NaN
1            IN  False     Easy Ship NaN       NaN
2            IN   True           NaN NaN       NaN
3            IN  False     Easy Ship NaN       NaN
4            IN  False           NaN NaN       NaN

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128976 entries, 0 to 128975
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128976 non-null  int64
 1   Order ID            128976 non-null  object
 2   Date                128976 non-null  object
 3   Status              128976 non-null  object
 4   Fulfilment          128976 non-null  object
 5   Sales Channel       128976 non-null  object
 6   ship-service-level  128976 non-null  object
 7   Category            128976 non-null  object
 8   Size                128976 non-null  object
 9   Courier Status      128976 non-null  object
 10  Qty                 128976 non-null  int64
 11  currency            121176 non-null  object
 12  Amount              121176 non-null  float64
 13  ship-city           128941 non-null  object
 14  ship-state          128941 non-null  object
 15  ship-postal-code    128941 non-null  float64
 16  ship-country        128941 non-null  object
 17  B2B                 128976 non-null  bool
 18  fulfilled-by        39263 non-null   object
 19  New                 0 non-null       float64
 20  PendingS            0 non-null       float64
dtypes: bool(1), float64(4), int64(2), object(14)
memory usage: 19.8+ MB
None

In [3]:

#display column names
print(df.columns)

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel',
       'ship-service-level', 'Category', 'Size', 'Courier Status', 'Qty',
       'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code',
       'ship-country', 'B2B', 'fulfilled-by', 'New', 'PendingS'],
      dtype='object')

In [5]:
#data cleaning
#converting date column to datetime format
df['Date'] = pd.to_datetime(df['Date'], format='%m-%d-%y',errors='coerce')
print(df['Date'])
#drop duplicates
df.drop_duplicates(inplace=True)
print(df)

0        2022-04-30
1        2022-04-30
2        2022-04-30
3        2022-04-30
4        2022-04-30
            ...
128971   2022-05-31
128972   2022-05-31
128973   2022-05-31
128974   2022-05-31
128975   2022-05-31
Name: Date, Length: 128976, dtype: datetime64[ns]
         index             Order ID       Date                        Status  \
0            0  405-8078784-5731545 2022-04-30                     Cancelled
1            1  171-9198151-1101146 2022-04-30  Shipped - Delivered to Buyer
2            2  404-0687676-7273146 2022-04-30                       Shipped
3            3  403-9615377-8133951 2022-04-30                     Cancelled
4            4  407-1069790-7240320 2022-04-30                       Shipped
...        ...                  ...        ...                           ...
128971  128970  406-6001380-7673107 2022-05-31                       Shipped
128972  128971  402-9551604-7544318 2022-05-31                       Shipped
128973  128972  407-9547469-3152358 2022-05-31                       Shipped
128974  128973  402-6184140-0545956 2022-05-31                       Shipped
128975  128974  408-7436540-8728312 2022-05-31                       Shipped

       Fulfilment Sales Channel ship-service-level  Category Size  \
0        Merchant     Amazon.in           Standard   T-shirt    S
1        Merchant     Amazon.in           Standard     Shirt  3XL
2          Amazon     Amazon.in          Expedited     Shirt   XL
3        Merchant     Amazon.in           Standard   Blazzer    L
4          Amazon     Amazon.in          Expedited  Trousers  3XL
...           ...           ...                ...       ...  ...
128971     Amazon     Amazon.in          Expedited     Shirt   XL
128972     Amazon     Amazon.in          Expedited   T-shirt    M
128973     Amazon     Amazon.in          Expedited   Blazzer  XXL
128974     Amazon     Amazon.in          Expedited   T-shirt   XS
128975     Amazon     Amazon.in          Expedited   T-shirt    S

       Courier Status  ...  currency   Amount    ship-city    ship-state  \
0          On the Way  ...       INR   647.62       MUMBAI   MAHARASHTRA
1             Shipped  ...       INR   406.00    BENGALURU     KARNATAKA
2             Shipped  ...       INR   329.00  NAVI MUMBAI   MAHARASHTRA
3          On the Way  ...       INR   753.33   PUDUCHERRY    PUDUCHERRY
4             Shipped  ...       INR   574.00      CHENNAI    TAMIL NADU
...               ...  ...       ...      ...          ...           ...
128971        Shipped  ...       INR   517.00    HYDERABAD     TELANGANA
128972        Shipped  ...       INR   999.00     GURUGRAM       HARYANA
128973        Shipped  ...       INR   690.00    HYDERABAD     TELANGANA
128974        Shipped  ...       INR  1199.00        Halol       Gujarat
128975        Shipped  ...       INR   696.00       Raipur  CHHATTISGARH

       ship-postal-code  ship-country    B2B  fulfilled-by New  PendingS
0              400081.0            IN  False     Easy Ship NaN       NaN
1              560085.0            IN  False     Easy Ship NaN       NaN
2              410210.0            IN   True           NaN NaN       NaN
3              605008.0            IN  False     Easy Ship NaN       NaN
4              600073.0            IN  False           NaN NaN       NaN
...                 ...           ...    ...           ...  ..       ...
128971         500013.0            IN  False           NaN NaN       NaN
128972         122004.0            IN  False           NaN NaN       NaN
128973         500049.0            IN  False           NaN NaN       NaN
128974         389350.0            IN  False           NaN NaN       NaN
128975         492014.0            IN  False           NaN NaN       NaN

[128808 rows x 21 columns]

In [6]:
# Drop unnecessary columns like 'index', 'New', and 'PendingS'
df.drop(columns=['index', 'New', 'PendingS'], inplace=True)
#Drop null values
df.dropna(subset=['Amount', 'ship-city', 'ship-state', 'Category'], inplace=True)
print(df)

                   Order ID       Date                        Status  \
0       405-8078784-5731545 2022-04-30                     Cancelled
1       171-9198151-1101146 2022-04-30  Shipped - Delivered to Buyer
2       404-0687676-7273146 2022-04-30                       Shipped
3       403-9615377-8133951 2022-04-30                     Cancelled
4       407-1069790-7240320 2022-04-30                       Shipped
...                     ...        ...                           ...
128971  406-6001380-7673107 2022-05-31                       Shipped
128972  402-9551604-7544318 2022-05-31                       Shipped
128973  407-9547469-3152358 2022-05-31                       Shipped
128974  402-6184140-0545956 2022-05-31                       Shipped
128975  408-7436540-8728312 2022-05-31                       Shipped

       Fulfilment Sales Channel ship-service-level  Category Size  \
0        Merchant     Amazon.in           Standard   T-shirt    S
1        Merchant     Amazon.in           Standard     Shirt  3XL
2          Amazon     Amazon.in          Expedited     Shirt   XL
3        Merchant     Amazon.in           Standard   Blazzer    L
4          Amazon     Amazon.in          Expedited  Trousers  3XL
...           ...           ...                ...       ...  ...
128971     Amazon     Amazon.in          Expedited     Shirt   XL
128972     Amazon     Amazon.in          Expedited   T-shirt    M
128973     Amazon     Amazon.in          Expedited   Blazzer  XXL
128974     Amazon     Amazon.in          Expedited   T-shirt   XS
128975     Amazon     Amazon.in          Expedited   T-shirt    S

       Courier Status  Qty currency   Amount    ship-city    ship-state  \
0          On the Way    0      INR   647.62       MUMBAI   MAHARASHTRA
1             Shipped    1      INR   406.00    BENGALURU     KARNATAKA
2             Shipped    1      INR   329.00  NAVI MUMBAI   MAHARASHTRA
3          On the Way    0      INR   753.33   PUDUCHERRY    PUDUCHERRY
4             Shipped    1      INR   574.00      CHENNAI    TAMIL NADU
...               ...  ...      ...      ...          ...           ...
128971        Shipped    1      INR   517.00    HYDERABAD     TELANGANA
128972        Shipped    1      INR   999.00     GURUGRAM       HARYANA
128973        Shipped    1      INR   690.00    HYDERABAD     TELANGANA
128974        Shipped    1      INR  1199.00        Halol       Gujarat
128975        Shipped    1      INR   696.00       Raipur  CHHATTISGARH

        ship-postal-code ship-country    B2B fulfilled-by
0               400081.0           IN  False    Easy Ship
1               560085.0           IN  False    Easy Ship
2               410210.0           IN   True          NaN
3               605008.0           IN  False    Easy Ship
4               600073.0           IN  False          NaN
...                  ...          ...    ...          ...
128971          500013.0           IN  False          NaN
128972          122004.0           IN  False          NaN
128973          500049.0           IN  False          NaN
128974          389350.0           IN  False          NaN
128975          492014.0           IN  False          NaN

[120988 rows x 18 columns]

In [7]:
df.rename(columns={
    'ship-city': 'City',
    'ship-state': 'State',
    'ship-country': 'Country',
    'Qty': 'Quantity',
}, inplace=True)